<div class="buttons are-small is-flex-wrap-nowrap">
  <%= link_to learning_path(learning), data: { turbo: false }, class: "button is-info is-small" do %>
    <span class="icon is-small"><i class="fas fa-eye"></i></span>
  <% end %>
  <%= link_to edit_learning_path(learning), data: { turbo_frame: dom_id(learning) }, class: "button is-warning is-small" do %>
    <span class="icon is-small"><i class="fas fa-edit"></i></span>
  <% end %>
  <%= link_to learning_path(learning), data: { "turbo-method": :delete, turbo_confirm: 'Are you sure?' }, class: "button is-danger is-small" do %>
    <span class="icon is-small"><i class="fas fa-trash"></i></span>
  <% end %>
</div>
