<div class="box" id="all_learnings">
  <div class="table-container"> <!-- Added wrapper for horizontal scrolling -->
    <table class="table is-fullwidth is-hoverable" style="table-layout: fixed;">
      <colgroup>
        <col class="is-hidden-mobile" style="width: 60%;">
        <col class="is-hidden-mobile" style="width: 25%;">
        <col class="is-hidden-mobile" style="width: 15%;">
        <col class="is-hidden-tablet" style="width: 70%;">
        <col class="is-hidden-tablet" style="width: 30%;">
      </colgroup>
      <thead>
        <tr>
          <th class="is-hidden-mobile">Lesson</th>
          <th class="is-hidden-mobile">Created</th>
          <th class="is-hidden-mobile">Actions</th>
          <th class="is-hidden-tablet">Lesson</th>
          <th class="is-hidden-tablet">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "learnings_page", locals: { learnings: @learnings, pagy: @pagy } %>
      </tbody>
    </table>
  </div>
</div>
