<%= turbo_frame_tag "learning_page_#{pagy.page}" do %>
<%= render learnings %>

<% if pagy.next %>
<tr>
  <td colspan="5" style="border: none; padding: 0;">
    <%= turbo_frame_tag "learning_page_#{pagy.next}", src: learnings_path(page: pagy.next), loading: :lazy do %>
    <div class="has-text-centered p-4">
      <span class="icon">
        <i class="fas fa-spinner fa-pulse"></i>
      </span>
      <span>Loading more...</span>
    </div>
    <% end %>
  </td>
</tr>
<% end %>
<% end %>
