<div class="box" id="all_learnings">
  <div class="table-container"> <!-- Added wrapper for horizontal scrolling -->
    <table class="table is-fullwidth is-hoverable" style="table-layout: fixed;">
      <colgroup>
        <col style="width: auto;">
        <col class="is-hidden-mobile" style="width: 180px;">
        <col style="width: 150px;">
      </colgroup>
      <thead>
        <tr>
          <th>Lesson</th>
          <th class="is-hidden-mobile">Created</th> <!-- Hide on mobile -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @learnings %>
      </tbody>
    </table>
  </div>
</div>
