<%= turbo_frame_tag "learnings_list", target: "_top" do %>
  <% if learnings.any? %>
    <div class="box" id="all_learnings">
      <%= render 'learnings_table_header' %>

      <!-- Learnings container with infinite scroll -->
      <div id="learnings_container">
        <%= render partial: "learnings_page", locals: { learnings: learnings, pagy: pagy } %>
      </div>
    </div>
  <% else %>
    <%= render 'empty_state', query: params[:query] %>
  <% end %>
<% end %>
