<%= turbo_stream.append "flash_notifications_container" do %>
  <div class="flash-notification notification is-success is-light"
       data-controller="flash-notification">
    <%= flash[:success] %>
  </div>
<% end %>

<%= turbo_stream.replace dom_id(@learning), method: :morph do %>
  <%= render partial: "learning", locals: { learning: @learning } %>
<% end %>
